<h1 id="imag"></h1>
<h1>Deep Earthquake Source Time Functions Using Variational Symmetric Autoencoders</h1><span id="i208">​​​​​​​</span>
<div class="row">
    <div class="st-col st-module col-3">
        <q-select id="i80x" v-model="selected_eq" label="Select an earthquake or click on the map to begin (hot colors correspond to deep earthquakes)" autocomplete="true" :options="available_eqs"></q-select>
        <plotly id="igbvk" class="sync_data" config="eyJzY3JvbGxab29tIjp0cnVlfQ==" layout="eyJkcmFnbW9kZSI6Inpvb20iLCJtYXBib3giOnsic3R5bGUiOiJvcGVuLXN0cmVldC1tYXAiLCJjZW50ZXIiOnsibGF0IjoiMzgiLCJsb24iOiIzNSJ9LCJ6b29tIjoiMSJ9LCJtYXJnaW4iOnsiciI6IjAiLCJ0IjowLCJiIjowLCJsIjowfSwieGF4aXMiOnsic2hvd2dyaWQiOnRydWV9LCJ5YXhpcyI6eyJzaG93Z3JpZCI6dHJ1ZX0sInNob3dsZWdlbmQiOmZhbHNlfQ==" :data="eq_location_traces"></plotly>
        <div class="container"></div>
        <st-tabs id="ijb9d" class="bg-primary text-white shadow-2" v-model="selected_tab2" :ids="tab_ids2" :labels="tab_labels2"></st-tabs>
        <q-tab-panels id="i4n0r" v-model="selected_tab2">
            <q-tab-panel id="ibqf" name="tab_receivers">
                <q-select id="i4ez" v-model="selected_rec_pixel" label="Select pixels to plot the corresponding receivers" :options="available_pixels" :multiple="true" :lazy-rules="true" :clearable="true"></q-select>
                <plotly id="iddw" :data="traces_receiver" config="e30=" layout="eyJtYXBib3giOnsic3R5bGUiOiJvcGVuLXN0cmVldC1tYXAiLCJ6b29tIjoiMSIsImNlbnRlciI6eyJsb24iOi05MCwibGF0IjozOH19LCJ4YXhpcyI6eyJzaG93Z3JpZCI6dHJ1ZX0sInlheGlzIjp7InNob3dncmlkIjp0cnVlfSwibWFyZ2luIjp7ImIiOjAsInIiOjAsImwiOjAsInQiOiIwIn19"></plotly>
            </q-tab-panel>
            <q-tab-panel id="i4k2" name="tab_sources">
                <plotly id="intq" :data="background_eq_traces" config="e30=" :layout="background_eq_layout"></plotly>
            </q-tab-panel>
        </q-tab-panels>
        <header>
            <h1>Variational Symmetric Autoencoders</h1>
        </header>
        <div class="row">
            <div class="col-9 flex">
                <div class="st-module">
                    <p id="iadug">While conventional methods typically employ convolutional models to differentiate source and path effects, our approach relies on Symmetric Autoencoding (SymAE). SymAE enables us to examine the spatial patterns in earthquake data and effectively separate slow-scale source effects from fast-scale path effects. This separation helps us to determine earthquake source time functions more accurately, without being influenced by path effects.<br><br>On extracting coherent seismic wavefield using variational symmetric autoencoders<br data-cke-eol="1"><a data-cke-saved-href="https://doi.org/10.48550/arXiv.2411.15613" href="https://doi.org/10.48550/arXiv.2411.15613">https://arxiv.org/abs/2411.15613</a><br>​​​​​​​Learning earthquake sources using symmetric autoencoders<br><a data-cke-saved-href="https://doi.org/10.48550/arXiv.2304.02404" href="https://doi.org/10.48550/arXiv.2304.02404">https://arxiv.org/abs/2304.02404</a><br><br><br></p>
                </div>
            </div>
            <div class="col-3 col-sm flex">
                <div class="st-module">
                    <q-img id="iqf9z" src="https://iisc.ac.in/wp-content/uploads/2020/08/IISc_Master_Seal_Reverse.jpg"></q-img>
                </div>
            </div>
        </div>
        <footer class="st-footer">
            <p><strong>Warning:</strong> The earthquake source time functions shown are generated using a trained deep neural network. Interpret results with caution.</p>
        </footer>
        <q-img id="ii9tk" src="&quot;data/iisc_logo.png&quot;"></q-img>
        <q-img id="iywfl" src="data/iisc_logo.pdf"></q-img>
    </div>
    <div class="st-col col-12 col-sm st-module">
        <st-tabs id="i3y3w" class="bg-primary text-white shadow-2" v-model="selected_tab" :ids="tab_ids" :labels="tab_labels"></st-tabs>
        <q-tab-panels id="ibfvl" v-model="selected_tab">
            <q-tab-panel id="iv3n" name="tab_stf">
                <div class="row">
                    <div class="col-3 col-sm flex">
                        <div class="st-module">
                            <q-toggle id="i39lx" color="dark" label="Compare With Envelope Stacking" v-model="stf_envelope_toggle"></q-toggle>
                        </div>
                    </div>
                    <div class="col-9 flex">
                        <div class="st-module">
                            <q-select id="io01" v-model="selected_pixel" label="Select a pixel" :options="available_pixels"></q-select>
                        </div>
                    </div>
                </div>
                <plotly id="ir2v" :data="traces" config="e30=" :layout="stf_layout"></plotly>
            </q-tab-panel>
            <q-tab-panel id="ih08b" name="tab_usvs">
                <plotly id="ij0ri" :data="traces_usvs" config="e30=" :layout="usvs_layout"></plotly>
            </q-tab-panel>
        </q-tab-panels>
    </div>
</div>