#imag {
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:34px;
}

#i208 {
  color:rgb(44, 62, 80);
}

#i7my7 {
  font-size:24px;
}

#i091c {
  font-size:24px;
}

#i19oi {
  font-size:24px;
}

#i3t5k {
  font-size:20px;
}

#i3zfb {
  font-size:20px;
}

#is38p {
  font-size:20px;
}

#iwyea {
  font-size:18px;
}

#io7yb {
  font-size:20px;
}

